html{
    min-height: 100%;
}

body {  
    min-height:100%;
    background-color: rgb(244, 244, 244);
    }

#logostex {
    position: absolute;
    margin: 1rem;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;;
    display: flex;
    font-weight: 500;
    border: 17px solid rgb(255, 235, 0);
    border-radius: 3px;
    }

.image {
    display: flex;
    min-height: 600px;
    text-align: center;
}

#container {
    display: block;
}

.model{
    width: 83%;
    display: inline-block;
    height: 500px;
    background-color: white;
    margin: 0.5rem 1rem;
    font-weight: 500;
    border: 15px solid rgb(255, 235, 0);
    border-radius: 3px;
    padding: 1rem;
}

.App{
    display: inline-block;
    text-align: center;
    width: 30%;
}

h1{
    text-align: center;
    font-family: 'frank-new';
    margin: 3rem 3rem 3.5rem 3rem;
}

h2{
    font-family: 'frank-new';
    background-color: white;
    margin: 0.5rem 1rem;
    font-weight: 300;
    border: 15px solid rgb(255, 235, 0);
    border-radius: 3px;
    padding: 1rem;
}