/*Les points devant les noms font references à des elements HTML ayant un attribut id de la même valeur */
/*Les # devant les noms font references à des elements HTML ayant un attribut class de la même valeur */

html {
    width: 100%;
}

body {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
}

section.form {
    padding: 1rem;
    text-align: center;
    margin: 0.5rem 1rem;
}

h2{
    text-align: center;
    padding-top: 5rem;
}

#modelv{
    width: 100%;
    min-height: 700px;
}

.contain{
    display: block;
    width: 100%;
} 

/* Par exemple, fair reference a un element HTML ayant comme id texte-explicatif*/
.texte-explicatif{
    text-align: justify;
    background-color: white;
    margin: 0.5rem 1rem;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    border: 17px solid rgb(255, 235, 0);
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
}

#texte{
    text-align: justify;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    padding: 1rem;
}

#collect{
    display: inline-block;
    text-align: center;
    width: 40%;
    background-color: white;
    justify-content: space-between;
    padding: 1rem;
}

h1{
    text-align: center;
}

.collection{
    display: block;  
    text-align: justify;
    background-color: white;
    justify-content: space-between;
    border: 17px solid rgb(255, 235, 0);
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 1rem;    
}

.hidden{
    display: none;
}
